<p>Rainforest is open market. Add, edit, review products and see who's part of the community!</p>
<nav>
  <% @products.each do |product| %>
    <li class="main-menu">
        <ul><p><%= link_to product.name, product_path(product.id) %> <%= product.description %> €<%= product.formatted_price %> <%= link_to '| Edit', edit_product_path(product.id) if current_user %> </p></ul>
    </li>
  <% end  %>
</nav>

<% if current_user %>
  <h2>Welcome to your Forest!</h2>
  <p>Feel free to add a product to your list.</p>
  <%= render 'form' %><br />
  <%= link_to 'Contact the community', users_path %>
<% end  %>

<!-- To DO's:
Add New Product Link/Button.
Edit Link/Button at each product line? -->

<!-- To READ:
Dynamic link to each product. => API LINK_TO. Google "Rails link_to" documentation -->

<!-- product ,  -->
