<p>Rainforest is open market. Add, edit, review products and see who's part of the community!</p>
<nav>
  <%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %>

  <div id="products">
    <%= render @products %>
  </div>
</nav>

<% if current_user %>
  <h2>Welcome to your Forest!</h2>
  <p>Feel free to add a product to your list.</p>
  <%= render 'form' %><br />
  <%= link_to 'Contact the community', users_path %>
<% end  %>

<!-- To READ:
Dynamic link to each product. => API LINK_TO. Google "Rails link_to" documentation -->
