<h1>Your Product id# <%= @product.id %></h1>

<%= link_to 'Back to basics', products_path %>

<p><%= @product.name %>, <%= @product.description %></p>
<p><%= @product.price_in_cents %> €cts</p>

<!--
To Do's:
Edit Link/Button
-->
