<h1>Your Product id# <%= @product.id %></h1>

<%= link_to 'Back to basics', products_path %>

<p><%= @product.name %>, <%= @product.description %></p>
<p>€<%= @product.formatted_price %></p>

<!--
To Do's:
Edit Link/Button
-->
