<h1>Your Product id# <%= @product.id %></h1>

<%= link_to 'Back to product list', products_path %>

<p><%= @product.name %>, <%= @product.description %></p>
<p>€<%= @product.formatted_price %></p>
<img src="<%= @product.url %>" height="300" width="300">
<p><%= link_to 'Edit this product', edit_product_path(@product) %></p>

<h3>Reviews</h3>

  <p>You are reading reviews for: <%= @product.name %></p>

  <div id=review-list>
    <%= render :partial => "reviews" %>
  </div>

<% if current_user %>
  <h4>New Review</h4>

  <%= form_for [@product, @review], :remote => true do |f| %>
    <div id='review-form-errors'>
      <%= render :partial => "/products/review_form_errors" %>
    </div>

    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review to this product.</p>
<% end %>

<!--
To Do's:
Edit Link/Button
-->
